@import '@/styles/_breakpoint';
@import '@/styles/_color';

.hero-image {
  align-items: center;
  background-attachment: fixed;
  background-image: url('/static/image/hero-image_01.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  width: 100vw;

  @include mobile() {
    background-image: url('/static/image/hero-image_02.png');
    height: 600px;
  }

  &__main-copy {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    width: 600px;

    @include tablet() {
      font-size: 34px;
      width: calc(100vw - 120px);
    }

    @include mobile() {
      font-size: 30px;
      width: calc(100vw - 80px);
    }
  }

  &__body-copy {
    color: #fff;
    font-size: 16px;
    line-height: 1.7;
    margin: 30px 0 0;
    width: 600px;

    @include tablet() {
      width: calc(100vw - 120px);
    }

    @include mobile() {
      width: calc(100vw - 80px);
    }
  }

  &__button-list {
    display: flex;
    margin: 40px 0 0;

    @include mobile() {
      flex-direction: column;
    }

    &__item {
      align-items: center;
      border: 1px solid #fff;
      border-radius: 100px;
      display: flex;
      font-size: 16px;
      height: 60px;
      justify-content: center;
      margin: 0 10px;
      text-align: center;
      transition-duration: 0.3s;
      width: 220px;
      background-color: rgba(complement($main-color), 0.1);
      &:visited {
        color: rgba($main-color, 0.8);
      }

      @include mobile() {
        margin: 10px 0;
        width: calc(100vw - 80px);
      }

      &.main {
        background-color: rgba(255, 255, 255, 1);
        color: #000;

        &:hover {
          border: 1px solid $main-color;
          color: $main-color;
          transition-duration: 0.3s;
        }
      }

      &.sub {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          border: 1px solid rgba(255, 255, 255, 0.6);
          transition-duration: 0.3s;
        }
      }
    }
  }
}
