@import '@/styles/_breakpoint';
@import '@/styles/_color';

.button-list {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px auto 60px;
  width: 960px;

  @include tablet() {
    width: calc(100vw - 80px);
  }

  @include mobile() {
    flex-direction: column-reverse;
  }
}

.button {
  align-items: center;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 0 10px;
  transition-duration: 0.3s;
  width: 220px;

  @include mobile() {
    margin: 5px 0;
    width: calc(100vw - 80px);
  }

  &--main {
    @extend .button;
    background-color: $base-color;
    border: 3px solid $main-color;
    color: $main-color;

    &:hover {
      background-color: rgba($main-color, 1);
      color: $base-color;
      cursor: pointer;
      transition-duration: 0.3s;
    }
  }

  &--sub {
    @extend .button;
    background-color: rgba($main-color, 0.1);
    border: 3px solid rgba($main-color, 0);
    color: $main-color;

    &:hover {
      background-color: rgba($main-color, 0.2);
      transition-duration: 0.3s;
    }
  }

  &--line {
    @extend .button;
    background-color: rgba($base-color, 1);
    border: 3px solid rgba($sns-color_line, 1);
    color: $sns-color_line;

    &:hover {
      color: $base-color;
      background-color: rgba($sns-color_line, 1);
      transition-duration: 0.3s;
    }
  }
}
