// Service Colors : ユーザが任意で好きな色に設定できる対象になりそうなもの
$base-color: #fff;
$main-color: #007aec;
// $sub-color: #fff;
$accent-color: #f9e24e;
$font-color: #27303b;

// SNS Colors
$sns-color_line: #00c300;
$sns-color_facebook: #3c5a99;
$sns-color_twitter: #1da1f2;

// System Colors
$system-color_debug: #fff;
$system-color_info: #fff;
$system-color_success: #fff;
$system-color_warning: #fff;
$system-color_error: #fff;
