.modal_wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: black, $alpha: 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  cursor: default;
}

.modal_content {
  max-width: 80vw;
  max-height: 80vh;
  overflow: scroll;
}

.close_button {
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 2rem;
}
