@import '@/styles/_breakpoint';
@import '@/styles/_color';

.form_input {
  background: $base-color;
  border: 1px solid rgba($font-color, 0.1);
  border-radius: 4px;
  color: $font-color;
  font-size: 16px;
  margin: 0;
  overflow: scroll;
  padding: 14px 10px;
  width: calc(100% - 22px);
  white-space: nowrap;

  & + input {
    margin: 20px 0;
  }

  &.fixed {
    background: rgba($base-color, 0.4);
    border: 1px solid rgba($font-color, 0);
    padding: 18px 10px;

    &.null {
      color: rgba($font-color, 0.3);
    }
  }
}

.form_select {
  background-color: $base-color;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  padding: 1em 1em;
  box-sizing: border-box;
  font-size: 1em;
  border: 1px solid ($font-color, 0.1);
  border-radius: 0;

  &[multiple] {
    margin: 5px 0px;
    padding: 2px;
  }
}

.form_text-area {
  background: $base-color;
  border: 1px solid rgba($font-color, 0.1);
  border-radius: 4px;
  color: $font-color;
  font-size: 16px;
  margin: 0;
  //overflow: scroll;
  padding: 14px 10px;
  width: calc(100% - 22px);
  white-space: pre-wrap;
  line-height: 30px;

  & + input {
    margin: 20px 0;
  }

  &.fixed {
    background: rgba($base-color, 0.4);
    border: 1px solid rgba($font-color, 0);
    padding: 18px 10px;

    &.null {
      color: rgba($font-color, 0.3);
    }
  }
}

.form_check-box {
  display: none;

  & + label {
    align-items: center;
    background-color: $base-color;
    border: 2px solid rgba($font-color, 0.1);
    border-radius: 30px;
    color: rgba($font-color, 0.8);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    margin: 0;
    text-align: center;
    text-decoration: none;
    transition: 0.25s;
    width: 180px;

    &:hover {
      border: 2px solid rgba($main-color, 1);

      @include mobile() {
        border: 2px solid rgba($font-color, 0.1);
      }
    }
  }

  & + label::before {
    content: 'OFF 💩';
  }

  &.yes-no + label::before {
    content: 'NO 🙅';
  }

  &:checked {
    & + label {
      background: $base-color;
      border: 2px solid rgba($main-color, 1);
      color: $main-color;

      &::before {
        content: 'ON ⚡️';
      }
    }
  }

  &:checked.yes-no + label::before {
    content: 'YES 🙆';
  }
}

.form_radio-button {
  :placeholder-shown {
    color: rgba($font-color, 0.4);
  }

  ::-webkit-input-placeholder {
    color: rgba($font-color, 0.4);
  }

  :-moz-placeholder {
    color: rgba($font-color, 0.4);
  }

  ::-moz-placeholder {
    color: rgba($font-color, 0.4);
  }

  :-ms-input-placeholder {
    color: rgba($font-color, 0.4);
  }
}

.markdown-editor {
  display: flex;
  flex: 0 0 1;
  flex-direction: row;

  > :nth-child(1),
  > :nth-child(2) {
    width: 50%;
  }

  > :nth-child(2) {
    background: $base-color;
    border: 1px solid rgba($font-color, 0.1);
    border-radius: 4px;
    color: $font-color;
    font-size: 16px;
    margin: 0;
    //overflow: scroll;
    padding: 14px 10px;
  }
}

.datepicker_wrapper {
  :global(.react-datepicker-wrapper) {
    display: block;
  }
}
