@import '@/styles/_color';

.alert-message {
  background-color: rgba($accent-color, 1);
  border-radius: 4px;
  padding: 20px;
  margin: 0 0 30px;
  width: calc(100% - 40px);

  &__item {
    font-size: 16px;
    line-height: 1.7;
    margin: 10px 0 0;

    &:first-child {
      margin: 0;
    }

    &.error {
      padding: 0 0 0 22px;
      position: relative;

      &::before {
        content: '😡';
        left: 0;
        position: absolute;
        top: 0;
      }
    }
  }
}
