@import '@/styles/_color';
@import '@/styles/_breakpoint';

.card {
  background-color: rgba($font-color, 0.06);
  border-radius: 8px;
  display: block;
  flex-direction: column;
  margin: 30px auto 0;
  padding: 40px;
  width: 900px;

  @include tablet() {
    padding: 20px;
    width: calc(100vw - 80px);
  }

  .alpha {
    background-color: rgba(rgb(211, 211, 211), 0.9);
  }
}
