@import '@/styles/_color';
@import '@/styles/_breakpoint';

.footer {
  align-items: center;
  background-color: rgba($font-color, 0.06);
  color: #9eaab9;
  display: flex;
  font-size: 13px;
  height: 50px;
  justify-content: center;
  letter-spacing: 1px;
  margin: 40px 0 0;
  width: 100vw;

  @include mobile() {
    font-size: 12px;
  }
}
